* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-container {
    display: flex; /*O comando display: flex habilita o flex-direction: row; justify-content: flex-start; e o align-items: stretch;*/
    flex-direction: row; /*Muda o eixo principal. Pode ser coluna, linha ou outro. Ou seja, vertical ou horizontal.*/
    justify-content: space-evenly; /*Organiza a distribuição de itens no eixo principal. Deixando no começo, fim, centro...*/
    align-items: center; /*Muda a distribuição do eixo secundário (que é perpendicular ao eixo principal). Deixando no começo, fim, centro...*/
    background: yellow;
    height: 500px;
    flex-wrap: wrap; /*Quando a quantidade de itens ultrapassa o tamanho de uma linha, é possível usar este comando para quebrar a linha e
                       o restante dos itens ocupe a linha abaixo.*/
}

.flex-item{
    width: 33.33%; /*Dado que o tamanho total da página é 100%, quando coloco o tamanho do item para 33.33%, sempre será 3 itens por linha.*/
    background: red;
    color: white
}